.container {
    display: flex;
    margin: auto;
    width: 90%;
    background: #e7e7e7;
    height: 2px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
  }
  
  .subDivider {
    position: absolute;
    width: 50%;
    height: 2.5px;
  }
  