.container {
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.title2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  font-size: 1.8125rem;
  font-weight: 600;
  line-height: 2rem;
  margin-top: 3.3125rem;
}

.subTitleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  margin-bottom: 0.5rem;
}

.subTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  text-align: center;
}
